/* Mission Statement Section */

.mission-statement {
  position: relative;
  padding: 8rem 0;
}

/* Slanted background - sibling to content */
.mission-statement__background {
  position: absolute;
  left: 0%;
  bottom: 0%;
  background-color: #D9D9D9;
  transform: skewY(-3deg);
  transform-origin: center center;
  z-index: 0;
  width: 100%;
  height: 100%;
}

/* Content - sibling to background */
.mission-statement__content {
  position: relative;
  z-index: 1;
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.mission-statement__heading {
  margin: 0 0 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.mission-statement__text {
  margin-bottom: 2.5rem;
}

.mission-statement__text p {
  margin-bottom: 1.5rem;
}

.mission-statement__text p:last-child {
  margin-bottom: 0;
}

.mission-statement .button {
  margin-top: 1rem;
}

/* Responsive */
@media screen and (min-width: 750px) {
  .mission-statement {
    padding: 10rem 0;
  }
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  .mission-statement__background {
    transform: none;
  }
}
